# Program Verification

- [Automated Program Refinement: Guide and Verify Code Large Language Model with Refinement Calculus](../venues/POPL2025/paper_1.md), ([POPL2025](../venues/POPL2025/README.md))


- [Baldur: Whole-Proof Generation and Repair with Large Language Models](../venues/FSE2023/paper_3.md), ([FSE2023](../venues/FSE2023/README.md))


- [Can ChatGPT support software verification?](../venues/FASE2024/paper_1.md), ([FASE2024](../venues/FASE2024/README.md))


- [Can large language models reason about program invariants?](../venues/ICML2023/paper_3.md), ([ICML2023](../venues/ICML2023/README.md))


- [CoqPilot, a plugin for LLM-based generation of proofs](../venues/ASE2024/paper_36.md), ([ASE2024](../venues/ASE2024/README.md))


- [Enchanting program specification synthesis by large language models using static analysis and program verification](../venues/CAV2024/paper_1.md), ([CAV2024](../venues/CAV2024/README.md))


- [Finding inductive loop invariants using large language models](../venues/arXiv2023/paper_10.md), ([arXiv2023](../venues/arXiv2023/README.md))


- [Hypothesis search: Inductive reasoning with language models](../venues/ICLR2024/paper_2.md), ([ICLR2024](../venues/ICLR2024/README.md))


- [LLM Meets Bounded Model Checking: Neuro-symbolic Loop Invariant Inference](../venues/ASE2024/paper_7.md), ([ASE2024](../venues/ASE2024/README.md))


- [LLM-Generated Invariants for Bounded Model Checking Without Loop Unrolling](../venues/ASE2024/paper_23.md), ([ASE2024](../venues/ASE2024/README.md))


- [Lemur: Integrating large language models in automated program verification](../venues/ICLR2024/paper_6.md), ([ICLR2024](../venues/ICLR2024/README.md))


- [Ranking llm-generated loop invariants for program verification](../venues/EMNLP2023/paper_13.md), ([EMNLP2023](../venues/EMNLP2023/README.md))


- [Towards AI-Assisted Synthesis of Verified Dafny Methods](../venues/FSE2024/paper_23.md), ([FSE2024](../venues/FSE2024/README.md))


- [Towards General Loop Invariant Generation: A Benchmark of Programs with Memory Manipulation](../venues/NeurIPS2024/paper_7.md), ([NeurIPS2024](../venues/NeurIPS2024/README.md))


- [Verified Code Transpilation with LLMs](../venues/NeurIPS2024/paper_4.md), ([NeurIPS2024](../venues/NeurIPS2024/README.md))
